body{
    background-color:turquoise ;
    color: black;
}
.heading{
    width:80%;
    font-size:22px;
}
#camera{
    border:2px dashed rgb(255, 0, 0); 
    width:350px ;
    height:300px ;
}
.nameOfObjects,#resultObjectName,#resultObjectAccuracy{
    color: maroon;
}


